<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Mis Tareas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Mis Tareas</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="todo-container">
    <div class="todos-list" *ngIf="tasks.length > 0">
      <mat-card class="task-card" *ngFor="let task of tasks" [class.completed]="task.completed">
        <mat-card-content>
          <div class="task-item">
            <mat-checkbox
              [checked]="task.completed"
              (change)="toggleTodo(task)"
              class="custom-checkbox">
            </mat-checkbox>

            <div class="task-content" (click)="openTaskModal(task)">
              <div class="task-header">
                <span class="task-title" [class.completed]="task.completed">{{ task.description }}</span>
                <span class="task-time" *ngIf="task.startTime || task.endTime">
                  <ion-icon name="time-outline"></ion-icon>
                  <ng-container *ngIf="task.startTime && task.endTime">
                    {{ task.startTime }} - {{ task.endTime }}
                  </ng-container>
                  <ng-container *ngIf="task.startTime && !task.endTime">
                    {{ task.startTime }}
                  </ng-container>
                  <ng-container *ngIf="!task.startTime && task.endTime">
                    {{ task.endTime }}
                  </ng-container>
                </span>
              </div>
              <div class="task-repeat-chips" *ngIf="task.repeatDays && task.repeatDays.length > 0">
                <ion-chip class="repeat-chip" *ngFor="let day of getWeekDayLabels(task.repeatDays)">
                  {{ day }}
                </ion-chip>
              </div>
            </div>

            <button mat-icon-button [matMenuTriggerFor]="menu" class="menu-button">
              <mat-icon>more_vert</mat-icon>
            </button>

            <mat-menu #menu="matMenu">
              <button mat-menu-item (click)="openTaskModal(task)">
                <mat-icon>edit</mat-icon>
                <span>Editar</span>
              </button>
              <button mat-menu-item (click)="deleteTodo(task)">
                <mat-icon color="warn">delete</mat-icon>
                <span>Borrar</span>
              </button>
            </mat-menu>
          </div>
        </mat-card-content>
      </mat-card>
    </div>

    <div class="empty-state" *ngIf="tasks.length === 0">
      <ion-icon name="checkbox-outline"></ion-icon>
      <h3>No tienes tareas</h3>
      <p>Agrega tu primera tarea desde el botón de abajo</p>
    </div>
  </div>

  <!-- Botón FAB flotante -->
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color="primary" (click)="openTaskModal()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
